.container {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  max-width: 750px;
  margin: 30px auto;
}

.title {
  color: rgb(20, 19, 37);
  font-family: oswald;
  font-size: 60px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  margin: 45px 0;
}

.span {
  composes: title;
  font-style: italic;
}
